header{
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 500;
    /**/
    animation: header-opacity linear both;
    animation-timeline: scroll();
    animation-range: 0 700px;
    user-select: none;
}
.logo{
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    padding-right: 20px;

}
.logo img{
    height: 100%;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a{
    color: #fff;
    padding: 10px;
    font-weight: bold
}
nav a:hover{
    color: #ddd;
}
.redes{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-end;
    padding-right: 30px;
}
.redes a{
    height: 100%;
    padding-left: 15px;
    text-align: center;
}
.redes a svg{
    fill: #fff;
    height: 18px;
    width: auto;
    transform: scale(1.3);
}
.redes a svg:hover{
    fill: #ddd;
}
header .menu-bars{
    height: 50%;
    display: none !important;
}
header .close__menu{
    display: none !important;
}
@media(max-width: 600px){
    header .close__menu{
        display: inline-block !important;
        position: absolute;
        height: 50px;
        top: 15px;
        right: 15px;
        z-index: 10000;
    }
    header nav{
        transform: translateY(-70vh);
        transition: transform 0.5s, background-color 0.5s;
        position: absolute;
        text-align: center;
        height: 100vh ;
        width: 100%;
        backdrop-filter: blur(200px);    
        background-color: #0000;
    }
    .logo{
        position: relative;
    }
    header .redes{
        display: none;
    }
    header .menu-bars{
        display: inline-block !important;
        display: flex;
        justify-content: left;
        padding-right: 20px;
        position: relative;
        z-index: 100;
        transition: opacity .5s;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60%;
        width: 100%;
    }
    .responsive nav{
        transform: translateY(calc(50vh - 40px));
        background-color: #0008;
    }
    .responsive nav ul li{
        padding: 15px;
    }
    .responsive nav a{
        font-size: 20px;
    }
    .responsive .menu-bars{
        opacity: 0;
    }
}
@keyframes header-opacity{
    from{
        background-color: transparent;
        backdrop-filter: blur(0px);
    }
    to{
        background-color: #00000033;
        backdrop-filter: blur(20px);
    }
}